# Extra BusyBox applets for the debug image, added on top of
# busybox-prod.config.

# interactive shell
CONFIG_ASH_JOB_CONTROL=y
CONFIG_FEATURE_EDITING=y
CONFIG_FEATURE_EDITING_HISTORY=255
CONFIG_FEATURE_TAB_COMPLETION=y
CONFIG_FEATURE_SH_HISTFILESIZE=y
CONFIG_GETTY=y

# logs: `logread`, `dmesg`
CONFIG_SYSLOGD=y
CONFIG_FEATURE_IPC_SYSLOG=y
CONFIG_LOGREAD=y
CONFIG_FEATURE_LOGREAD_REDUCED_LOCKING=y
CONFIG_KLOGD=y
CONFIG_DMESG=y

# poking around
CONFIG_DATE=y
CONFIG_DF=y
CONFIG_DU=y
CONFIG_ENV=y
CONFIG_FIND=y
CONFIG_FREE=y
CONFIG_GREP=y
CONFIG_HEAD=y
CONFIG_FEATURE_FANCY_HEAD=y
CONFIG_HEXDUMP=y
CONFIG_KILL=y
CONFIG_KILLALL=y
CONFIG_LESS=y
CONFIG_LS=y
CONFIG_LSMOD=y
CONFIG_LSUSB=y
CONFIG_MD5SUM=y
CONFIG_PIDOF=y
CONFIG_PS=y
CONFIG_SED=y
CONFIG_TAIL=y
CONFIG_FEATURE_FANCY_TAIL=y
CONFIG_TOP=y
CONFIG_TOUCH=y
CONFIG_UNAME=y
CONFIG_UPTIME=y
CONFIG_VI=y
CONFIG_WATCH=y
CONFIG_WC=y
CONFIG_XARGS=y

# network troubleshooting
CONFIG_FEATURE_IP_NEIGH=y
CONFIG_NC=y
CONFIG_NC_SERVER=y
CONFIG_NETSTAT=y
CONFIG_FEATURE_NETSTAT_PRG=y
CONFIG_NSLOOKUP=y
CONFIG_PING=y
CONFIG_TRACEROUTE=y
CONFIG_WGET=y
CONFIG_FEATURE_WGET_HTTPS=y
